.theme-mss {
  --centre-aide-background-entete: #0279d0;
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: #ffffff;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-background-hover-lien: #0c5c98;
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-background-secondaire: transparent;
  --brique-hero-bouton-gauche-background: #ffffff;
  --brique-hero-bouton-gauche-background-hover: #f6f6f6;
  --brique-hero-bouton-gauche-background-active: #f6f6f6;
  --brique-hero-bouton-gauche-texte: #0279d0;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: #ffffff;
  --titre-couleur-primaire: #09416a;
  --brique-carrousel-bouton-action-texte-couleur: #0279d0;
  --brique-marelle-titre-couleur: #09416a;
  --brique-marelle-etapes-numero-etape-couleur: #0279d0;
  --brique-marelle-etapes-lien-couleur: #0279d0;
  --brique-marelle-bouton-background: #0c5c98;
  --brique-marelle-bouton-background-hover: #0279d0;
  --brique-marelle-bouton-background-active: #0279d0;
  --brique-marelle-bouton-texte: #ffffff;
  --brique-temoignages-titre-couleur: #09416a;
  --brique-temoignages-icone-couleur: #0279d0;
  --brique-contenu-deux-colonnes-action-bouton-background: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #f6f6f6;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #f6f6f6;
  --brique-contenu-deux-colonnes-action-bouton-texte: #0279d0;
  --brique-presentation-anssi-titre-couleur: #09416a;
  --brique-presentation-anssi-bouton-background: transparent;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: #0279d0;
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --couleur-lien: #0079d0;
  --filtre-couleur-primaire: brightness(0) invert(29%) sepia(95%) saturate(1420%) hue-rotate(184deg)
    brightness(98%) contrast(101%);
  --sommaire-actif-indicateur-couleur: #0079d0;
  --sommaire-actif-couleur: #0079d0;
  --sommaire-mobile-fond: #f1f5f9;
  --liste-articles-couleur-fleche: #0079d0;
  --liste-articles-couleur-texte: #09416a;
  --couleur-focus: #0a76f6;
  --bouton-secondaire-tertiaire-couleur-texte: #0079d0;
  --bouton-primaire-couleur-texte: #ffffff;
  --bouton-primaire-couleur-fond: #0079d0;
  --bouton-primaire-couleur-fond-survol: #0c5c98;
  --bouton-primaire-couleur-fond-clique: #09416a;
  --bouton-arrondi: 4px;
  --tag-couleur-fond: #eee;
  --tag-couleur-texte: #161616;
  --tag-selectionnable-couleur-texte: #000091;
  --tag-selectionnable-couleur-fond: #e3e3fd;
  --tag-selectionnable-couleur-fond-survol: #c1c1fb;
  --tag-selectionnable-couleur-fond-clique: #adadf9;
  --tag-selectionne-couleur-texte: #f5f5fe;
  --tag-selectionne-couleur-fond: #000091;
  --tag-selectionne-couleur-fond-survol: #1212ff;
  --tag-selectionne-couleur-fond-clique: #2323ff;
}

.theme-mac {
  --centre-aide-background-entete: #5d2a9d;
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: white;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-background-hover-lien: #9c51d0;
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-background-secondaire: #f5f1f9;
  --brique-hero-bouton-gauche-background: white;
  --brique-hero-bouton-gauche-background-hover: #f6f6f6;
  --brique-hero-bouton-gauche-background-active: #f6f6f6;
  --brique-hero-bouton-gauche-texte: #5d2a9d;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: white;
  --titre-couleur-primaire: #5d2a9d;
  --brique-carrousel-bouton-action-texte-couleur: #5d2a9d;
  --brique-marelle-titre-couleur: #5d2a9d;
  --brique-marelle-etapes-numero-etape-couleur: #9c51d0;
  --brique-marelle-etapes-lien-couleur: #5d2a9d;
  --brique-marelle-bouton-background: #5d2a9d;
  --brique-marelle-bouton-background-hover: #9c51d0;
  --brique-marelle-bouton-background-active: #9c51d0;
  --brique-marelle-bouton-texte: #ffffff;
  --brique-temoignages-titre-couleur: #5d2a9d;
  --brique-temoignages-icone-couleur: #9c51d0;
  --brique-contenu-deux-colonnes-action-bouton-background: white;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #f6f6f6;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #f6f6f6;
  --brique-contenu-deux-colonnes-action-bouton-texte: #5d2a9d;
  --brique-presentation-anssi-titre-couleur: #5d2a9d;
  --brique-presentation-anssi-bouton-background: #ffffff;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: #5d2a9d;
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --couleur-lien: #5d2a9d;
  --filtre-couleur-primaire: brightness(0) invert(13%) sepia(46%) saturate(5189%) hue-rotate(261deg)
    brightness(104%) contrast(89%);
  --sommaire-actif-indicateur-couleur: #fed980;
  --sommaire-actif-couleur: #5d2a9d;
  --sommaire-mobile-fond: #f5f1f9;
  --liste-articles-couleur-fleche: red;
  --liste-articles-couleur-texte: red;
  --couleur-focus: #5d2a9d;
  --bouton-secondaire-tertiaire-couleur-texte: #5d2a9d;
  --bouton-primaire-couleur-texte: #ffffff;
  --bouton-primaire-couleur-fond: #5d2a9d;
  --bouton-primaire-couleur-fond-survol: #9c51d0;
  --bouton-primaire-couleur-fond-clique: #9c51d0;
  --bouton-arrondi: 8px;
  --tag-couleur-fond: #eee;
  --tag-couleur-texte: #161616;
  --tag-selectionnable-couleur-texte: #000091;
  --tag-selectionnable-couleur-fond: #e3e3fd;
  --tag-selectionnable-couleur-fond-survol: #c1c1fb;
  --tag-selectionnable-couleur-fond-clique: #adadf9;
  --tag-selectionne-couleur-texte: #f5f5fe;
  --tag-selectionne-couleur-fond: #000091;
  --tag-selectionne-couleur-fond-survol: #1212ff;
  --tag-selectionne-couleur-fond-clique: #2323ff;
}

.theme-msc {
  --centre-aide-background-entete: #0d0c21 url("src/lib/assets/illustrations/tuile-msc.svg") repeat
    top left/500px;
  --centre-aide-background-bouton: #fed980;
  --centre-aide-font-color-bouton: #0d0c21;
  --centre-aide-border-lien-secondaire: #0d0c21;
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-font-color-bouton);
  --centre-aide-background-hover-lien: #e4c274;
  --centre-aide-background-hover-declencheur: #22213c
    url("src/lib/assets/illustrations/tuile-msc.svg") repeat top left/500px;
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-background-secondaire: transparent;
  --brique-hero-bouton-gauche-background: #fed980;
  --brique-hero-bouton-gauche-background-hover: #ecca79;
  --brique-hero-bouton-gauche-background-active: #ddbd70;
  --brique-hero-bouton-gauche-texte: #0d0c21;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: #ffffff;
  --titre-couleur-primaire: #0d0c21;
  --brique-carrousel-bouton-action-texte-couleur: #0d0c21;
  --brique-marelle-titre-couleur: #0d0c21;
  --brique-marelle-etapes-numero-etape-couleur: #0d0c21;
  --brique-marelle-etapes-lien-couleur: #0d0c21;
  --brique-marelle-bouton-background: #fed980;
  --brique-marelle-bouton-background-hover: #ecca79;
  --brique-marelle-bouton-background-active: #ddbd70;
  --brique-marelle-bouton-texte: #0d0c21;
  --brique-temoignages-titre-couleur: #0d0c21;
  --brique-temoignages-icone-couleur: #fed980;
  --brique-contenu-deux-colonnes-action-bouton-background: #fed980;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #ecca79;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #ddbd70;
  --brique-contenu-deux-colonnes-action-bouton-texte: #0d0c21;
  --brique-presentation-anssi-titre-couleur: #0d0c21;
  --brique-presentation-anssi-bouton-background: transparent;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: #0d0c21;
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --couleur-lien: #0d0c21;
  --filtre-couleur-primaire: brightness(0) invert(3%) sepia(26%) saturate(6797%) hue-rotate(236deg)
    brightness(105%) contrast(97%);
  --sommaire-actif-indicateur-couleur: #fed980;
  --sommaire-actif-couleur: #0d0c21;
  --sommaire-mobile-fond: #fff7db;
  --liste-articles-couleur-fleche: red;
  --liste-articles-couleur-texte: red;
  --couleur-focus: #fed980;
  --bouton-secondaire-tertiaire-couleur-texte: #0d0c21;
  --bouton-primaire-couleur-texte: #0d0c21;
  --bouton-primaire-couleur-fond: #fed980;
  --bouton-primaire-couleur-fond-survol: #ecca79;
  --bouton-primaire-couleur-fond-clique: #ddbd70;
  --bouton-arrondi: 8px;
  --tag-couleur-fond: #fcf1cf;
  --tag-couleur-texte: #0d0c21;
  --tag-selectionnable-couleur-texte: #0d0c21;
  --tag-selectionnable-couleur-fond: #fcf1cf;
  --tag-selectionnable-couleur-fond-survol: #faecb7;
  --tag-selectionnable-couleur-fond-clique: #f8e5a0;
  --tag-selectionne-couleur-texte: #0d0c21;
  --tag-selectionne-couleur-fond: #fed980;
  --tag-selectionne-couleur-fond-survol: #ecca79;
  --tag-selectionne-couleur-fond-clique: #ddbd70;
}

.theme-men2 {
  --centre-aide-background-entete: #272771;
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: white;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-background-hover-lien: #41419f;
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-background-secondaire: transparent;
  --brique-hero-bouton-gauche-background: #ffffff;
  --brique-hero-bouton-gauche-background-hover: #ffffff;
  --brique-hero-bouton-gauche-background-active: #ffffff;
  --brique-hero-bouton-gauche-texte: #272771;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: #ffffff;
  --titre-couleur-primaire: #272771;
  --brique-carrousel-bouton-action-texte-couleur: #272771;
  --brique-marelle-titre-couleur: #272771;
  --brique-marelle-etapes-numero-etape-couleur: #272771;
  --brique-marelle-etapes-lien-couleur: #272771;
  --brique-marelle-bouton-background: #272771;
  --brique-marelle-bouton-background-hover: #41419f;
  --brique-marelle-bouton-background-active: #41419f;
  --brique-marelle-bouton-texte: #ffffff;
  --brique-temoignages-titre-couleur: #272771;
  --brique-temoignages-icone-couleur: #41419f;
  --brique-contenu-deux-colonnes-action-bouton-background: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-texte: #272771;
  --brique-presentation-anssi-titre-couleur: #272771;
  --brique-presentation-anssi-bouton-background: #ffffff;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: #272771;
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --couleur-lien: #272771;
  --filtre-couleur-primaire: brightness(0) invert(16%) sepia(31%) saturate(3600%) hue-rotate(224deg)
    brightness(93%) contrast(101%);
  --sommaire-actif-indicateur-couleur: #fed980;
  --sommaire-actif-couleur: #272771;
  --sommaire-mobile-fond: #f5f5fe;
  --liste-articles-couleur-fleche: red;
  --liste-articles-couleur-texte: red;
  --couleur-focus: #272771;
  --bouton-secondaire-tertiaire-couleur-texte: #272771;
  --bouton-primaire-couleur-texte: #3a3a3a;
  --bouton-primaire-couleur-fond: #fdc82e;
  --bouton-primaire-couleur-fond-survol: #ffdb71;
  --bouton-primaire-couleur-fond-clique: #ededed;
  --bouton-arrondi: 8px;
  --tag-couleur-fond: #eee;
  --tag-couleur-texte: #161616;
  --tag-selectionnable-couleur-texte: #000091;
  --tag-selectionnable-couleur-fond: #e3e3fd;
  --tag-selectionnable-couleur-fond-survol: #c1c1fb;
  --tag-selectionnable-couleur-fond-clique: #adadf9;
  --tag-selectionne-couleur-texte: #f5f5fe;
  --tag-selectionne-couleur-fond: #000091;
  --tag-selectionne-couleur-fond-survol: #1212ff;
  --tag-selectionne-couleur-fond-clique: #2323ff;
}
