@import "@gouvfr/dsfr/src/dsfr/core/index";
@import "../src/lib/styles/dsfr-variables.scss";

@import "@gouvfr/dsfr/src/dsfr/core/style/reset/module/body";
@import "@gouvfr/dsfr/src/dsfr/core/style/scheme";
@include _core-reset-scheme($legacy: false);
