// Couleurs
$text-mention-grey: #666666;
$background-default-grey-active: #ededed;
$background-default-grey-hover: #f6f6f6;
$border-default-grey: #dddddd;
$texte-dsfr: #000091;
$texte-defaut: #161616;
$texte-secondaire: #3a3a3a;

$titre-couleur-primaire: var(--titre-couleur-primaire);

// Couleurs par composant
// - Centre d'aide
$centre-aide-background-entete: var(--centre-aide-background-entete);
$centre-aide-background-bouton: var(--centre-aide-background-bouton);
$centre-aide-font-color-bouton: var(--centre-aide-font-color-bouton);
$centre-aide-border-lien-secondaire: var(--centre-aide-border-lien-secondaire);
$centre-aide-font-color-lien-secondaire: var(--centre-aide-font-color-lien-secondaire);
$centre-aide-background-hover-lien: var(--centre-aide-background-hover-lien);
$centre-aide-background-hover-lien-secondaire: rgba(0, 0, 0, 0.04);
$centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-declencheur);
// - Lien Diagnostic Cyber
$diagnostic-cyber-lien-color: var(--diagnostic-cyber-color, #0d0c21);
$diagnostic-cyber-font-lien-color: var(--diagnostic-cyber-color, #0d0c21);
$diagnostic-cyber-font-color: var(--diagnostic-cyber-color, #0d0c21);

// - Site vitrine
$brique-background-primaire: var(--brique-background-primaire);
$brique-background-secondaire: var(--brique-background-secondaire);

// - Brique Hero
$brique-hero-bouton-gauche-background: var(--brique-hero-bouton-gauche-background);
$brique-hero-bouton-gauche-background-hover: var(--brique-hero-bouton-gauche-background-hover);
$brique-hero-bouton-gauche-background-active: var(--brique-hero-bouton-gauche-background-active);
$brique-hero-bouton-gauche-texte: var(--brique-hero-bouton-gauche-texte);

$brique-hero-bouton-droite-background: var(--brique-hero-bouton-droite-background);
$brique-hero-bouton-droite-background-hover: var(--brique-hero-bouton-droite-background-hover);
$brique-hero-bouton-droite-background-active: var(--brique-hero-bouton-droite-background-active);
$brique-hero-bouton-droite-texte: var(--brique-hero-bouton-droite-texte);

// - Brique Carrousel de Tuiles
$brique-carrousel-bouton-action-texte-couleur: var(--brique-carrousel-bouton-action-texte-couleur);

// - Brique marelle

$brique-marelle-titre-couleur: var(--brique-marelle-titre-couleur);

$brique-marelle-etapes-numero-etape-couleur: var(--brique-marelle-etapes-numero-etape-couleur);
$brique-marelle-etapes-lien-couleur: var(--brique-marelle-etapes-lien-couleur);

$brique-marelle-bouton-background: var(--brique-marelle-bouton-background);
$brique-marelle-bouton-background-hover: var(--brique-marelle-bouton-background-hover);
$brique-marelle-bouton-background-active: var(--brique-marelle-bouton-background-active);
$brique-marelle-bouton-texte: var(--brique-marelle-bouton-texte);

// - Brique témoignages

$brique-temoignages-titre-couleur: var(--brique-temoignages-titre-couleur);
$brique-temoignages-icone-couleur: var(--brique-temoignages-icone-couleur);

$brique-temoignages-bouton-action-texte-couleur: var(
  --brique-carrousel-bouton-action-texte-couleur
);

// - Brique de contenu à deux colonnes

$brique-contenu-deux-colonnes-action-bouton-background: var(
  --brique-contenu-deux-colonnes-action-bouton-background
);
$brique-contenu-deux-colonnes-action-bouton-background-hover: var(
  --brique-contenu-deux-colonnes-action-bouton-background-hover
);
$brique-contenu-deux-colonnes-action-bouton-background-active: var(
  --brique-contenu-deux-colonnes-action-bouton-background-active
);
$brique-contenu-deux-colonnes-action-bouton-texte: var(
  --brique-contenu-deux-colonnes-action-bouton-texte
);

// - Brique Présentation ANSSI

$brique-presentation-anssi-titre-couleur: var(--brique-presentation-anssi-titre-couleur);

$brique-presentation-anssi-bouton-background: var(--brique-presentation-anssi-bouton-background);
$brique-presentation-anssi-bouton-background-hover: var(
  --brique-presentation-anssi-bouton-background-hover
);
$brique-presentation-anssi-bouton-background-active: var(
  --brique-presentation-anssi-bouton-background-active
);
$brique-presentation-anssi-bouton-texte: var(--brique-presentation-anssi-bouton-texte);

// Affichage
$z-index-au-dessus: 1000;
