// Couleurs
$text-mention-grey: #666666;
$background-default-grey-active: #ededed;
$background-default-grey-hover: #f6f6f6;
$border-default-grey: #dddddd;
$texte-dsfr: #000091;
$texte-defaut: #161616;
$texte-secondaire: #3a3a3a;

// Affichage
$z-index-au-dessus: 1000;