name: L'intégration continue
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Construction de Lab. ANSSI - UI Kit

    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - name: Utiliser la version Node.js 24
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Installer les dépendances
        run: npm install -g "$(jq -r '.packageManager' package.json)" && pnpm install

      - name: Installer Playwright
        run: ./node_modules/.bin/playwright install --with-deps

      - name: Exécuter les tests
        run: pnpm run test

      - name: Contrôler le format
        run: ./node_modules/.bin/prettier -c .

      - name: Construit le Storybook
        run: pnpm run storybook:build

      - name: Builder le package
        run: pnpm run build
