name: La publication du Storybook
permissions: {}

on:
  push:
    branches: [main]

jobs:
  build:
    name: "Construis"
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - name: Utiliser la version Node.js 24
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Installer les dépendances
        run: npm ci

      - name: Installer Playwright
        run: ./node_modules/.bin/playwright install --with-deps

      - name: Exécuter les tests
        run: npm run test

      - name: Construit le Storybook
        run: npm run storybook:build

      - name: Téléverser les fichiers
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./storybook-static

  deploy:
    name: "Déploie"
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
