name: Publication du package sur NPM
permissions:
  id-token: write # Pour permettre le --provenance de la publication npm https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions

on:
  release:
    types: [published]

jobs:
  publication:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Récupérer la version
        run: echo "release_version=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: Installer Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org/"

      - name: Installer les dépendances
        run: npm install -g "$(jq -r '.packageManager' package.json)" && pnpm install

      - name: Installer Playwright
        run: ./node_modules/.bin/playwright install --with-deps

      - name: Exécuter les tests
        run: pnpm run test

      - name: Builder le package
        run: pnpm run build

      - name: Builder les styles
        run: pnpm run build:styles:dsfr

      - name: Builder les tokens
        run: pnpm run build:tokens && cp -r ./src/tokens/build/* ./dist/assets/

      - name: Publier sur NPM
        run: pnpm publish --provenance --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Installer et configurer la CLI de S3cmd
        uses: s3-actions/s3cmd@v1.10.0
        with:
          provider: clevercloud
          access_key: ${{ secrets.CLEVER_S3_DES_ASSETS_ACCESS_KEY }}
          secret_key: ${{ secrets.CLEVER_S3_DES_ASSETS_SECRET_KEY }}

      - name: Envoyer les assets vers le CDN
        run: s3cmd sync --recursive -M ./dist/assets/* s3://lab-anssi-ui-kit-prod-s3-assets

      - name: Envoyer la release js
        run: s3cmd put --mime-type='application/javascript' ./dist/webcomponents/lab-anssi-ui-kit.iife.js s3://lab-anssi-ui-kit-prod-s3-assets/${{ env.release_version }}/

      - name: Envoyer les feuilles de style des thèmes & du DSFR
        run: |
          for file in ./dist/assets/*.css; do
            s3cmd put --mime-type='text/css' "$file" s3://lab-anssi-ui-kit-prod-s3-assets/${{ env.release_version }}/
          done
