name: Publication du package sur NPM
permissions:
  id-token: write # Pour permettre le --provenance de la publication npm https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions

on:
  release:
    types: [published]

jobs:
  publication:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Installer Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org/"

      - name: Installer les dépendances
        run: npm ci

      - name: Exécuter les tests
        run: npm run test

      - name: Builder le package
        run: npm run build

      - name: Publier sur NPM
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Installer et configurer la CLI de S3cmd
        uses: s3-actions/s3cmd@v1.10.0
        with:
          provider: clevercloud
          access_key: ${{ secrets.CLEVER_S3_DES_ASSETS_ACCESS_KEY }}
          secret_key: ${{ secrets.CLEVER_S3_DES_ASSETS_SECRET_KEY }}

      - name: Envoyer les assets vers le CDN
        run: s3cmd sync --recursive -M ./src/lib/assets/* s3://lab-anssi-ui-kit-prod-s3-assets
