name: "Storybook Tests"
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - name: Utiliser la version Node.js 24
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Installer les dépendances
        run: npm install -g "$(jq -r '.packageManager' package.json)" && pnpm install

      - name: Installer Playwright
        run: ./node_modules/.bin/playwright install --with-deps

      - name: Construit le Storybook
        run: pnpm run storybook:build

      - name: Sers le Storybook et lance les tests
        run: |
          ./node_modules/.bin/concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "./node_modules/.bin/http-server storybook-static --port 6006 --silent" \
            "./node_modules/.bin/wait-on tcp:127.0.0.1:6006 && pnpm run storybook:test"
